<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>dev.review-publication</string>
  <key>ProgramArguments</key>
  <array>
    <string>__NODE_EXECUTABLE__</string>
    <string>__WORKER__</string>
    <string>--inetd</string>
  </array>
  <key>ExitTimeOut</key>
  <integer>__SERVICE_SHUTDOWN_TIMEOUT_SECONDS__</integer>
  <key>Sockets</key>
  <dict>
    <key>Listener</key>
    <dict>
      <key>SockNodeName</key>
      <string>127.0.0.1</string>
      <key>SockServiceName</key>
      <string>4392</string>
    </dict>
  </dict>
  <key>inetdCompatibility</key>
  <dict>
    <key>Wait</key>
    <false/>
  </dict>
</dict>
</plist>
